/* Header */

header {
  // @include rem(padding, 25px 0 25px 0);
  background-color: #662219;
  border-bottom: 1px solid #ddd;
  color:white;
  .container {
    padding: 0;
  }
}

.navbar-brand {
  font-size: 32px;
  color:white;
}
